.bodytitle{
    color: rgb(40, 119, 165);
}

.body{
    color: rgb(171, 206, 226);
}
.namefont{
    font-family: 'Abril Fatface', cursive;
}

.trialfont{
    font-family: 'Prata', serif;
}

a:hover {
    color:rgba(156, 156, 156, 0.801)
}

.photography {
    width: 75%;
    margin: auto;
    display: block;
}

.friendphotos {
    width: 200px;
    padding-bottom: 6px;
}

.aboutmetitlecolor {
    color: rgb(243, 212, 218);
}

.aboutmecolor {
    color: rgb(209, 143, 158);
}

.white {
    color: rgb(255, 248, 250);
}

.myphoto{
    width: 500px;
    height: auto;
    padding-bottom: 20px;
}

.tinyfont{
    padding-top: 5px;
    font-size: 15px;
}

.paddingbottom{
    padding-bottom: 5px;
}

.backtotop{
    text-align: center;
}

.border{
    padding: 4px;
    border: rgb(177, 177, 177);
    border-radius: 5px;
}

.italic{
    font-style: italic;
}